@model PartialViewDemo.Models.Company

@{
    Layout = null;
}

    <div>
        <h1>This is from main view upper.</h1>
    </div>
    <div>
        @Html.Partial("_MyPartialView", Model.department)
        @{
            Html.RenderPartial("_MyPartialView", Model.department);
        }
    </div>
    <div>
        <h1>This is from main view lower.</h1>
    </div>
    <div id="divTest">
    </div>
    <input type="button" value="Click" id="btnClick" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
        $(function() {
            $('#btnClick').click(function(data) {
                $.post("@Url.Action("ShowPartailView", "Home")", function(data) {
                    if (data) {
                        $('#divTest').append(data);
                    }
                });
            });
        });
</script>

